<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testSeminarsResponseJson</key>
    <string>[
{"address": "1800 Newtown Pike",
"address2": "null",
"building": "Griffin Gate Marriott Resort  Spa",
"city": "Lexington",
"country": "USA",
"custom": "null",
"directions": "null",
"hidden": 0,
"host": "Griffin Gate Marriott Resort  Spa",
"id": 1808,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=1800%20Newtown%20Pike,%20KY,%20Lexington,%2040511",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 60,
"seats_taken" : 8,
"seminar_date" : "2015-10-03 10:00:00",
"seminar_type" : "Informational",
"state": "KY",
"status": 1,
"updated_at" : "2015-09-29 13:40:35",
"zip": 40511
},
{
"address": "1375 North Cassady Avenue",
"address2": "null",
"building": "Columbus Airport Marriott",
"city": "Columbus",
"country": "USA",
"custom": "null",
"directions": "null",
"hidden": 0,
"host": "Columbus Airport Marriott",
"id": 1807,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=1375%20North%20Cassady%20Avenue,%20OH,%20Columbus,%2043219",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 55,
"seats_taken" : 0,
"seminar_date" : "2015-10-17 10:00:00",
"seminar_type" : "null",
"state": "OH",
"status": 1,
"updated_at" : "2015-09-14 15:27:43",
"zip": 43219
},
{
"address": "8888 E. Raintree Drive",
"address2": "null",
"building": "Laser Spine Institute of Scottsdale",
"city": "Scottsdale",
"country": "USA",
"custom": "null",
"directions": "null",
"hidden": 0,
"host": "Laser Spine Institute of Scottsdale",
"id": 1804,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=8888%20E.%20Raintree%20Drive,%20AZ,%20Scottsdale,%2085260",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 38,
"seats_taken" : 2,
"seminar_date" : "2015-10-17 11:00:00",
"seminar_type" : "Consult",
"state": "AZ",
"status": 1,
"updated_at" : "2015-09-24 12:10:04",
"zip": 85260
},
{
"address": "656 E. Swedesford Rd.",
"address2": "null",
"building": "Laser Spine Institute of Wayne",
"city": "Wayne",
"country": "USA",
"custom": "null",
"directions": "null",
"hidden": 0,
"host": "Laser Spine Institute of Wayne",
"id": 1809,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=656%20E.%20Swedesford%20Rd.,%20PA,%20Wayne,%2019087",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 45,
"seats_taken" : 0,
"seminar_date" : "2015-10-17 11:00:00",
"seminar_type" : "Consult",
"state": "PA",
"status": 1,
"updated_at" : "2015-09-23 14:38:28",
"zip": 19087
},
{
"address": "3001 N. Rocky Point Drive E.",
"address2": "null",
"building": "Laser Spine Institute of Tampa",
"city": "Tampa",
"country": "USA",
"custom": "null",
"directions": "null",
"hidden": 0,
"host": "Laser Spine Institute of Tampa",
"id": 1810,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=3001%20N.%20Rocky%20Point%20Drive%20E.,%20FL,%20Tampa,%2033607",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 45,
"seats_taken" : 0,
"seminar_date" : "2015-10-17 11:00:00",
"seminar_type" : "Consult",
"state": "FL",
"status": 1,
"updated_at" : "2015-09-23 14:38:57",
"zip": 33607
},
{
"address": "300 Allen Bradley Drive",
"address2": "null",
"building": "Laser Spine Institute of Cleveland",
"city": "Mayfield Heights",
"country": "USA",
"custom": "null",
"directions": "null",

"hidden": 0,
"host": "Laser Spine Institute of Cleveland",
"id": 1811,
"inprod": 1,
"language": "english",
"locationLink": "http://maps.google.com/?q=300%20Allen%20Bradley%20Drive,%20OH,%20Mayfield%20Heights,%2044124",
"phone": "866-DOCS-LSI (866-362-7574)",
"phone2": "null",
"radius": 100,
"seats_avail" : 45,
"seats_taken" : 4,
"seminar_date" : "2015-10-17 11:00:00",
"seminar_type" : "Consult",
"state": "OH",
"status": 1,
"updated_at" : "2015-09-26 07:07:11",
"zip": 44124
}]</string>
</dict>
</plist>
